
<!-- breadcrumbs -->
                <div class="container">
                    <div class="title-date-range">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="main-title">
                                    <h1>Invoice</h1>
                                    <h5>Welcome back, Labrina</h5><span><i class="fa fa-map-marker"></i>New York City</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                    <!-- title Date Range -->
                    <div class="row">
                        <div class="masonary-grids">
                            <div class="col-md-12">
                                <div class="invoice-billing">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4><strong>Business</strong> Corporation</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <address>
										  234 Benjing Lorak, Suite 786<br>
										  New York, CA 94107<br>
										  <abbr title="Phone">P:</abbr> (123) 456-7890
										</address>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-right">
                                                <p><strong>ORDER DATE : </strong> December 45, 2014</p>
                                                <p><strong>ORDER STATUS : </strong> <span class="label red">Pending</span>
                                                </p>
                                                <p><strong>ORDER ID : </strong> #432323</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="invoice">
                                    <div class="invoice-head">
                                        <h2 class="invoice-number">Inv. no. </h2>
                                        <h2 class="date">Date </h2>
                                        <h2 class="description">Description  </h2>
                                        <h2 class="quantity">Quantity </h2>
                                        <h2 class="vat">VAT </h2>
                                        <h2 class="total">Total </h2>
                                    </div>
                                    <!-- Invoice Table Head -->
                                    <ul>
                                        <li>
                                            <div class="invoice-number">
                                                <p>#454667</p>
                                            </div>
                                            <div class="date">
                                                <p>12-05-2014</p>
                                            </div>
                                            <div class="description">
                                                <p>Your Invoice is still Pending..</p>
                                            </div>
                                            <div class="quantity">
                                                <p>4 </p>
                                            </div>
                                            <div class="vat">
                                                <p>2.24% </p>
                                            </div>
                                            <div class="total">
                                                <p>124.00$</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="invoice-number">
                                                <p>#534534</p>
                                            </div>
                                            <div class="date">
                                                <p>2-05-2014</p>
                                            </div>
                                            <div class="description">
                                                <p>Please Check Your Balance & Invoice</p>
                                            </div>
                                            <div class="quantity">
                                                <p>5 </p>
                                            </div>
                                            <div class="vat">
                                                <p> 6.59% </p>
                                            </div>
                                            <div class="total">
                                                <p>456.00$</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="invoice-number">
                                                <p>#213123</p>
                                            </div>
                                            <div class="date">
                                                <p>5-12-2014</p>
                                            </div>
                                            <div class="description">
                                                <p>Your Domain Invoice Not received?</p>
                                            </div>
                                            <div class="quantity">
                                                <p>6 </p>
                                            </div>
                                            <div class="vat">
                                                <p>2.50% </p>
                                            </div>
                                            <div class="total">
                                                <p>233.00$</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="invoice-number long-column">
                                                <p>Sub Totals</p>
                                            </div>

                                            <div class="total">
                                                <p>324.00$</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="invoice-number long-column">
                                                <p>Tax (9.25%) </p>
                                            </div>

                                            <div class="total">
                                                <p>2133.00$</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="invoice-number long-column">
                                                <p>Discount</p>
                                            </div>

                                            <div class="total">
                                                <p>3534.00$</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="invoice-number long-column">
                                                <p>Total</p>
                                            </div>

                                            <div class="total">
                                                <p>2000.00$</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- Invoice Table Structure -->
                                </div>
                                <!-- Invoice -->
                                <div class="total"><a title="" class="green" href="#">Submit</a>
                                </div>
                                <p class="msg">Your transaction has been completed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Sec -->
            <div class="slide-panel" id="panel-scroll">
                <ul role="tablist" class="nav nav-tabs panel-tab-btn">
                    <li class="active"><a data-toggle="tab" role="tab" href="#tab1"><i class="fa fa-inbox"></i><span>Your Emails</span></a>
                    </li>
                    <li><a data-toggle="tab" role="tab" href="#tab2"><i class="fa fa-wrench"></i><span>Your Setting</span></a>
                    </li>
                </ul>
                <div class="tab-content panel-tab">
                    <div id="tab1" class="tab-pane fade in active">
                        <div class="recent-mails-widget">
                            <form>
                                <div id="searchMail"></div>
                            </form>
                            <h3>Recent Emails</h3>
                            <ul id="mail-list" class="mail-list">
                                <li>
                                    <div class="title">
                                        <span><img src="images/resource/sender1.jpg" alt="" /><i class="online"></i></span>
                                        <h3><a href="#" title="">Kim Hostwood</a><span>5 min ago</span></h3>
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="Attachment"><i class="fa fa-paperclip"></i></a>
                                    </div>
                                    <h4>Themeforest Admin Template</h4>
                                    <p>This product is so good that i manage to buy it 1 for me and 3 for my families.</p>
                                </li>
                                <li>
                                    <div class="title">
                                        <span><img src="images/resource/sender2.jpg" alt="" /><i class="online"></i></span>
                                        <h3><a href="#" title="">John Doe</a><span>2 hours ago</span></h3>
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="Attachment"><i class="fa fa-paperclip"></i></a>
                                    </div>
                                    <h4>Themeforest Admin Template</h4>
                                    <p>This product is so good that i manage to buy it 1 for me and 3 for my families.</p>
                                </li>
                                <li>
                                    <div class="title">
                                        <span><img src="images/resource/sender3.jpg" alt="" /><i class="offline"></i></span>
                                        <h3><a href="#" title="">Jonathan Doe</a><span>8 min ago</span></h3>
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="Attachment"><i class="fa fa-paperclip"></i></a>
                                    </div>
                                    <h4>Themeforest Admin Template</h4>
                                    <p>This product is so good that i manage to buy it 1 for me and 3 for my families.</p>
                                </li>
                            </ul>
                            <a href="inbox.html" title="" class="red">View All Messages</a>
                        </div>
                        <!-- Recent Email Widget -->

                        <div class="file-transfer-widget">
                            <h3>FILE TRANSFER <i class="fa fa-angle-down"></i></h3>
                            <div class="toggle">
                                <ul>
                                    <li>
                                        <i class="fa fa-file-excel-o"></i>
                                        <h4>my-excel.xls<i>20 min ago</i></h4>
                                        <div class="progress">
                                            <div style="width: 90%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar red">
                                                90%
                                            </div>
                                        </div>
                                        <div class="file-action-btn">
                                            <a href="#" title="Approve" class="green" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-check"></i></a>
                                            <a href="#" title="Cancel" class="red" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-close"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-pdf-o"></i>
                                        <h4>my-cv.pdf<i>8 min ago</i></h4>
                                        <div class="progress">
                                            <div style="width: 40%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar blue">
                                                40%
                                            </div>
                                        </div>
                                        <div class="file-action-btn">
                                            <a href="#" title="Approve" class="green" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-check"></i></a>
                                            <a href="#" title="Cancel" class="red" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-close"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-video-o"></i>
                                        <h4>portfolio-shoot.mp4<i>12 min ago</i></h4>
                                        <div class="progress">
                                            <div style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="progress-bar green">
                                                70%
                                            </div>
                                        </div>
                                        <div class="file-action-btn">
                                            <a href="#" title="Approve" class="green" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-check"></i></a>
                                            <a href="#" title="Cancel" class="red" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-close"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- File Transfer -->
                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <div class="setting-widget">
                            <form>
                                <h3>Accounts</h3>
                                <div class="toggle-setting">
                                    <span>Office Account</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <span data-unchecked="Off" data-checked="On"></span>
                                    </label>
                                </div>
                                <div class="toggle-setting">
                                    <span>Personal Account</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" checked>
                                        <span data-unchecked="Off" data-checked="On"></span>
                                    </label>
                                </div>
                                <div class="toggle-setting">
                                    <span>Business Account</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <span data-unchecked="Off" data-checked="On"></span>
                                    </label>
                                </div>
                            </form>

                            <form>
                                <h3>General Setting</h3>
                                <div class="toggle-setting">
                                    <span>Notifications</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" checked>
                                        <span data-unchecked="Off" data-checked="On"></span>
                                    </label>
                                </div>
                                <div class="toggle-setting">
                                    <span>Notification Sound</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" checked>
                                        <span data-unchecked="Off" data-checked="On"></span>
                                    </label>
                                </div>
                                <div class="toggle-setting">
                                    <span>My Profile</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <span data-unchecked="Off" data-checked="On"></span>
                                    </label>
                                </div>
                                <div class="toggle-setting">
                                    <span>Show Online</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <span data-unchecked="Off" data-checked="On"></span>
                                    </label>
                                </div>
                                <div class="toggle-setting">
                                    <span>Public Profile</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" checked>
                                        <span data-unchecked="Off" data-checked="On"></span>
                                    </label>
                                </div>
                            </form>
                        </div>
                        <!-- Setting Widget -->
                    </div>
                </div>
            </div>
            <!-- Slide Panel -->
        </div>
        <!-- Page Container -->
    </div>
    <!-- main -->


    <!-- Script -->
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/enscroll.js"></script>
    <script type="text/javascript" src="js/grid-filter.js"></script>

</body>

</html>